<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470906921112-2pojnec6iahg27ps6qpqc0kh7rt3aocj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470906921112-2pojnec6iahg27ps6qpqc0kh7rt3aocj</string>
	<key>API_KEY</key>
	<string>AIzaSyC7ekTyWlone43z5fsZvgOqNnc5r-D7XJY</string>
	<key>GCM_SENDER_ID</key>
	<string>470906921112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sb.prk.parkingps.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-first-parkingps</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-parkingps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470906921112:ios:0a89402455eda370bfb0ed</string>
</dict>
</plist>